<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>Homepage</title>
</head>
<body>
    <!-- Image Background Page Header -->
    <!-- Note: The background image is set within the business-casual.css file. -->
    <header class="container business-header">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <h1 class="tagline">Welcome to Mangalife</h1>
                </div>
            </div>
        </div>
    </header>

    <!-- Page Content -->
    <div class="container">

        <div class="row">
            <div class="col-lg-12">
                <br />
                <br />
                <h4 class="lead">
                    Welcome to our website ! Mangalife is here so that people can share their favorite  Manga with others,
                    and find the new comic books that you like or recommend others . We wanted to create a website where people can interact each other
                    or socialize with others through mangas.
                </h4>
            </div>
        </div>

        <hr>
        <!-- Title -->
        <div class="row">
            <div class="col-lg-12">
                <h3>Top Rated Mangas</h3>
                <h6 ng-click="showcoll()" class="acthover">
                    <a>View entire collection</a>
                </h6>

            </div>
        </div>


        <div class="row text-center">

            <div class="col-md-3 col-sm-6 hero-feature">
                <div class="thumbnail">
                    <img src="http://i.cdn.turner.com/adultswim/big/img/2014/08/05/Bleach.png" alt="">
                    <div class="caption">
                            <h3>Bleach</h3>
                        <p>Bleach follows the adventures of the hotheaded teenager Ichigo Kurosaki after he obtains the powers of a Soul Reaper (死神 Shinigami?, literally, "Death God")—a death personification similar to the Grim Reaper—from another Soul Reaper, Rukia Kuchiki. His new-found powers force him to take on the duties of defending humans from evil spirits and guiding departed souls to the afterlife, and set him on journeys to various ghostly realms of existence.</p>
                    </div>
                </div>
            </div>

            <div class="col-md-3 col-sm-6 hero-feature">
                <div class="thumbnail">
                    <img src="http://vignette3.wikia.nocookie.net/slamdunk/images/d/d0/Main.jpg/revision/latest?cb=20140517161021" alt="">
                    <div class="caption">
                            <h3>Slam Dunk</h3>
                        <p>Hanamichi Sakuragi is a delinquent who has never had any luck with girls. However, when he meets Haruko Akagi, he is sure that she's the one for him. Haruko is a big basketball fan and notices his potential as a basketball player (due to his immense height). Hoping to win her heart, Hanamichi earnestly tries out for the basketball team. Does this complete newbie have what it takes to even join the team?</p>
                    </div>
                </div>
            </div>

            <div class="col-md-3 col-sm-6 hero-feature">
                <div class="thumbnail">
                    <img src="http://i.kinja-img.com/gawker-media/image/upload/s--1me-foJ8--/wxdgwzjs9tzfzbqsqf8e.jpg" alt="">
                    <div class="caption">
                        <h3>One Piece</h3>
                        <p>One Piece follows the adventures of Monkey D. Luffy, a young man whose body gains the properties of rubber after unintentionally eating a Devil Fruit, and his diverse crew of pirates, named the Straw Hat Pirates. Luffy explores the ocean in search of the world's ultimate treasure known as "One Piece" in order to become the next Pirate King.</p>
                    </div>
                </div>
            </div>

            <div class="col-md-3 col-sm-6 hero-feature">
                <div class="thumbnail">
                    <img src="https://d13uygpm1enfng.cloudfront.net/article-imgs/en/2014/11/10/AJ201411100011/AJ201411100012M.jpg" alt="">
                    <div class="caption">
                        <h3>Naruto</h3>
                        <p>It tells the story of Naruto Uzumaki, an adolescent ninja who constantly searches for recognition and dreams to become the Hokage, the ninja in his village who is acknowledged as the leader and the strongest of all.</p>
                    </div>
                </div>
            </div>
        </div>

        <!-- Title -->
        <div class="row">
            <div class="col-lg-12">
                <h3>Featured Publishers</h3>
            </div>
        </div>
        <!-- /.row -->
        <!-- Page Features -->
        <div class="row text-center">

            <div class="col-md-3 col-sm-6 hero-feature">
                <div class="thumbnail">
                    <img src="https://40.media.tumblr.com/110f6f73a07885214c272d0362e01a79/tumblr_ngfsgtxfdC1ti60zlo1_500.jpg" alt="">
                    <div class="caption">
                        <a href="http://comics.shogakukan.co.jp/">
                            <h3>Shougakukan</h3>
                        </a>
                        <p>Shougakukan  is a Japanese publisher of dictionaries, literature, manga, non-fiction, DVDs, and other media in Japan.  They are targeting pre-adolescent boys and girls, teenagers, and adults. The year 1969 saw the birth of Doraemon, one of Japan's most famous cartoon characters, to be followed by a number of others, such as the Pokemon, Hamtaro, InuYasha, and Detective Conan.  </p>
                    </div>
                </div>
            </div>

            <div class="col-md-3 col-sm-6 hero-feature">
                <div class="thumbnail">
                    <img src="http://i2.minus.com/isNjGbhX1nZCM.jpg" alt="">
                    <div class="caption">
                        <a href="http://shonenjump.viz.com/">
                            <h3>Shonen Jump</h3>
                        </a>
                        <p>Shounen Jump is another popular publisher in the world. It Targeted towards young adult males, the first issue required three printings to meet consumer demand, with over 300,000 copies sold. It was awarded the ICv2 "Comic Product of the Year" award in December 2002, and has continued to enjoy high sales with a monthly circulation of 215,000 in 2008. Approximately half of its circulation comes from subscriptions rather than store sales.</p>
                    </div>
                </div>
            </div>

            <div class="col-md-3 col-sm-6 hero-feature">
                <div class="thumbnail">
                    <img src="http://ec2.images-amazon.com/images/I/610c9OxIHkL._SL500_.jpg" alt="">
                    <div class="caption">
                        <a href="http://www.shonenmagazine.com/">
                            <h3>Shounen Magazine</h3>
                        </a>
                        <p>Shounen Magazine is another popular comic book publisher in Japan, which mainly read by an older audience, with a large portion of its readership falling under the male high school or college student demographic.</p>
                    </div>
                </div>
            </div>

            <div class="col-md-3 col-sm-6 hero-feature">
                <div class="thumbnail">
                    <img src="https://40.media.tumblr.com/4018cc21034d2de216c8805e43c6f86d/tumblr_nj0cp6AVxo1ti60zlo1_500.jpg" alt="">
                    <div class="caption">
                        <a href="http://www.animenewsnetwork.com/encyclopedia/manga.php?id=4818">
                            <h3>Shonen Champion</h3>
                        </a>
                        <p>Shōnen Champion was first published 15 July 1969. It has had numerous popular series by manga artists such as Osamu Tezuka, Go Nagai, Shinji Mizushima, Masami Kurumada, Keisuke Itagaki. The magazine is published every Thursday. It had a circulation of 500,000 from October 1, 2009 to September 30, 2010</p>
                    </div>
                </div>
            </div>

        </div>
        <!-- /.row -->



        <hr>

        <!-- Footer -->
        <footer>
            <div class="row">
                <div class="col-lg-12">
                    <p>Copyright &copy; Ayumu Oda and Amadou Mbaye</p>
                </div>
            </div>
            <!-- /.row -->
        </footer>

    </div>
    <!-- /.container -->

</body>
</html>
